<h1>Twittah</h1>

<button ng-click="setOrderByPredicate('sentiment')">Order by sentiment</button>
<button ng-click="setOrderByPredicate('updated_at')">Order by update date</button>

<div ng-repeat="tweet in tweets | orderBy:predicate">
  <blockquote>
    <p>{{ tweet.message }}
    <cite>{{ tweet.user_handle }} - {{ tweet.updated_at }} - Sentiment: {{ tweet.sentiment }}</cite>
  </blockquote>
</div>


<p ng-show="!hasNewTweets">Dang, you've already seen the tweets I was going to show you, try again!</p>
<p ng-show="errored">Oops, something went wrong with the server, try again!</p>

<button ng-hide="tweets.length === 0 && !errored" ng-click="getNewTweets()">Load more!</button>
