<h1>Twittah</h1>

<button ng-click="setOrderByPredicate('sentiment')" class="orderBySentiment">Order by sentiment</button>
<button ng-click="setOrderByPredicate('updated_at')" class="orderByDate">Order by update date</button>

<div ng-repeat="tweet in tweets | orderBy:predicate" class="tweet">
  <blockquote>
    <p>{{ tweet.message }}
    <cite>{{ tweet.user_handle }} — <span class="updated-at">{{ tweet.updated_at }}</span> — Sentiment: <span class="sentiment">{{ tweet.sentiment }}</span></cite>
    </p>
  </blockquote>
</div>


<p ng-show="!hasNewTweets" class="alert label">Dang, you've already seen the tweets I was going to show you, try again!</p>
<p ng-show="errored" class="alert label">Oops, something went wrong with the server, try again!</p>

<button ng-click="getNewTweets()" ng-disabled="queried == true" class="loadButton">Load more!</button>
